<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ini adalah title </title>
	<link rel="stylesheet" type="text/css" href="aturan.css">
	
</head>
<body>
	<div class="kotak_besar">
		<div class="kotak">
			<h4>MEMO</h4>
			<label>Tanggal</label>
			<select>
				<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
				<option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
				<option>11</option><option>12</option><option>13</option><option>14</option><option>15</option>
				<option>16</option><option>17</option><option>18</option><option>19</option><option>20</option>
				<option>21</option><option>22</option><option>23</option><option>24</option><option>25</option>
				<option>26</option><option>27</option><option>28</option><option>29</option><option>30</option>
				<option>31</option>
			</select>
			<label>Bulan</label>
			<select>
				<option>Januari</option><option>Februari</option><option>Maret</option><option>April</option>
				<option>Mei</option><option>Juni</option><option>Juli</option><option>Agustus</option>
				<option>September</option><option>Oktober</option><option>November</option><option>Desember</option>
			</select>
			<label>Tahun</label>
			<input type="text" placeholder="Tahun berapa sekarang"><br>
			<label>Judul</label>
			<input type="text" placeholder="tuliskan sesuatu"><br>
			<label>Memo/ apa yang mau ditulis</label><br>
			<textarea rows="10" cols="100">apa yang tejadi hari ini  </textarea>
			
		</div>
	</div>
</body>
</html>